<class name="org.wso2.carbon.apimgt.gateway.mediators.LLMRouteMediator">
    <property name="llmRouteConfigs" value="{&quot;production&quot;:{&quot;history details&quot;:{&quot;model&quot;:&quot;mistral-small-latest&quot;,&quot;endpointId&quot;:&quot;f44e1bf8-4ba1-4afc-98e4-1d006bd6b3b9&quot;,&quot;endpointName&quot;:&quot;Mistral&quot;},&quot;maths details&quot;:[{&quot;model&quot;:&quot;mistral-medium&quot;,&quot;endpointId&quot;:&quot;f44e1bf8-4ba1-4afc-98e4-1d006bd6b3b9&quot;,&quot;endpointName&quot;:&quot;Mistral&quot;}],&quot;coding&quot;:[],&quot;science&quot;:[]},&quot;sandbox&quot;:{&quot;history&quot;:{&quot;model&quot;:&quot;&quot;,&quot;endpointId&quot;:&quot;&quot;,&quot;endpointName&quot;:&quot;&quot;},&quot;maths&quot;:[],&quot;coding&quot;:[],&quot;science&quot;:[]}}" />
</class>
