<class name="org.wso2.carbon.apimgt.gateway.mediators.LLMRouteMediator">
    <property name="llmRouteConfigs" 
        value="{&quot;production&quot;:{&quot;history&quot;:{&quot;model&quot;:&quot;gpt-4o&quot;,&quot;endpointId&quot;:&quot;79037363-2782-40d9-8c84-a0dd79dc4c4d&quot;,&quot;endpointName&quot;:&quot;GPT 4o mini &quot;},&quot;maths&quot;:[{&quot;model&quot;:&quot;o3-mini&quot;,&quot;endpointId&quot;:&quot;cb7abab9-c056-4818-b47d-38cde5d7cb09&quot;,&quot;endpointName&quot;:&quot;GPT 3.5 turbo&quot;}],&quot;coding&quot;:[{&quot;model&quot;:&quot;gpt-4o&quot;,&quot;endpointId&quot;:&quot;ced49150-edc5-4395-b0d9-b6cc8b86b501&quot;,&quot;endpointName&quot;:&quot;GPT 4o&quot;}],&quot;science&quot;:[{&quot;model&quot;:&quot;gpt-5mini&quot;,&quot;endpointId&quot;:&quot;a5aabbc9-125b-442b-b8f9-bd4513b45da2&quot;,&quot;endpointName&quot;:&quot;GPT 5 mini&quot;}]},&quot;sandbox&quot;:{&quot;history&quot;:{&quot;model&quot;:&quot;&quot;,&quot;endpointId&quot;:&quot;&quot;,&quot;endpointName&quot;:&quot;&quot;},&quot;maths&quot;:[]}}" />
</class>
